.features-container {
    display: flex;
    margin-bottom: 5rem;
}

.features-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 3rem 3rem 0 0;
    padding-left: 4rem;
}

.feature-left-text {
    width: 30ch;
}

.features-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 4rem;
}

.feature {
    display: flex;
}

.number {
    background-color: var(--clr-primary-100);
    color: var(--clr-neutral-300);
    height: fit-content;
    padding: .75rem 1.75rem;
    border-radius: 2rem;
}

.section-text {
    margin-left: 1.5rem;
}

.feature-title {
    margin-top: 0.825rem;
}